*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
-webkit-background-clip: text;
background-image: linear-gradient()
*/

:root{
    --bg-color: rgb(216, 255, 255);
    --bg-color-2: rgb(119, 119, 119);
    --bg-color-dark: rgb(32, 32, 32);
    --font-color: rgb(32, 32, 32);
    --font-color-2: rgb(195, 231, 255);
    --font-color-white: rgb(222, 231, 236);
    --font-size: clamp(0.6rem, 1vw, 15px);
    --bg-clip-font-color: linear-gradient(97deg, rgb(255, 255, 255, 0.8), rgb(127, 182, 213));

    --card-tag-color: rgb(69, 66, 214);
    --card-tag-color-2: rgb(255, 51, 0);
    --color-bright: rgb(175, 166, 81);

    --top-bar-bg-color: rgb(216, 255, 255, 0.5);
    --shadow-color: rgb(70, 70, 70);

    font-size: var(--font-size);
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: start;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.content-wrapper{
    position: absolute;
    overflow-x: hidden;
    /* padding: 0rem 5vw; */
}

section{
    display: flex;
    padding: 0 5vw;
    padding-top: 5rem;
    font-size: 1.5rem;
}
section > .half-divided{
    width: 50%;
    padding-right: 2rem;
}
section .title{
    font-size: 2.5rem;
    font-weight: 500;
}
section .desc{
    margin-top: 1rem;
}

/* Specific Sections */
.bg-shape{
    position: absolute;
    top: -20rem;
    right: -15rem;
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    background-color: rgb(153, 191, 248);
    z-index: -1;
}
.bg-shape-2{
    position: absolute;
    top: 60rem;
    left: -10rem;
    width: 30rem;
    height: 30rem;
    background-color: rgb(142, 247, 159);
    z-index: -1;
}

.version-chooser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
    font-size: 4rem;
    color: var(--font-color-white);
    transition: opacity 100ms;
    opacity: 1;
}
.version-chooser.hidden{
    display: none;
}
.version-chooser .chooser-title{
    font-size: 2rem;
}
.version-chooser .version-box{
    border: 1px solid var(--bg-color);
    border-radius: 0.8rem;
    padding: 2rem;
}
.grid-versions{
    padding: 2rem;
    display: grid;
    grid-template-areas: "a a" "b c";
    gap: 1rem;
    color: var(--font-color-2);
}
.grid-versions > div{
    text-align: center;
    transition: background-color 500ms, color 500ms;
}
.grid-versions > div:hover{
    background-color: var(--font-color-2);
    color: var(--font-color);
}

.top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2.5rem;

    display: flex;
    align-items: center;
    /* background-color: var(--top-bar-bg-color); */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 5;
}
.top-bar .name-item{
    position: relative;
    margin-right: auto;
}
.top-bar .item{
    position: relative;
    padding-left: 1.5rem;
    font-size: 2rem;
}
.top-bar .item::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 2.5rem);
    height: 1px;
    background-color: black;
    padding-left: 1.2rem;
    transition: transform 200ms;
    transform: scaleX(0);
    transform-origin: left;
    
}
.top-bar .item:hover::before{
    transform: scaleX(1);
}

/* Content Sections */
/* INTRO */
.intro{
    height: min-content;
    padding-top: 10rem;
}
.intro .collapsable{
    padding: 1.5rem 1rem;
}
.intro .collapsable:first-of-type{
    margin-top: 10vh;
}
.intro .right{
    padding-left: 1rem;
}
.intro .right .title{
    text-align: center;
}
.intro .collector-view{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: min-content;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.intro .collector-view .photo-card{
    width: inherit;
}
.intro .photo-card.animating{
    /* Param: --rotate --hover-scale */
    box-shadow: 0 0 2rem var(--shadow-color);
    z-index: 1;
    left: 0;
    top: 0;
    transform: rotateZ(var(--rotate)) scale(var(--hover-scale));
}
.intro .photo-card:hover{
    /* Param: --rotate --hover-scale */
    transform: scale(var(--hover-scale));
}
.intro .photo-card.animating:hover{
    /* Param: --rotate --hover-scale2 */
    transform: scale(var(--hover-scale2));
}
@media only screen and (max-width: 1000px) {
    .intro{
        flex-direction: column;
    }
    .intro .half-divided{
        width: inherit;
    }
    .intro .right{
        padding-left: 0;
    }
    .intro .left{
        padding-bottom: 4rem;
    }
}

/* PROJECTS */
.projects{
    display: flex;
    flex-direction: column;
    padding-top: 20rem;
    text-align: center;
}
.projects .top{
    padding-bottom: 6rem;
}
.projects .grid-desc{
    display: grid;
    grid-template-areas: "a a b" 
                         "d e b" 
                         "f g b" 
                         "c c c";
    gap: 1rem;
}
.projects .grid-desc .card-like{
    padding: 2rem 0rem;
}
.projects .grid-desc .card-like .desc{
    font-size: 1.3rem;
    opacity: 1;
    transition: font-size 500ms, opacity 500ms;
}
.projects .grid-desc .card-like .desc.fade-smaller{
    font-size: 1rem;
    opacity: 0.8;
}
@media only screen and (max-width: 1000px) {
    .projects .grid-desc{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        /* grid-template-areas: "b b b" 
                             "a a d" 
                             "e f g" 
                             "c c c"; */
    }
    .projects .grid-desc .card-like .desc{
        font-size: 1.6rem;
        opacity: 1;
        transition: font-size 500ms, opacity 500ms;
    }
    .projects .grid-desc .card-like .desc.fade-smaller{
        font-size: 1.4rem;
        opacity: 0.8;
    }
}

/* SPACE */
.section-space{
    height: 25rem;
    background-image: linear-gradient(rgba(0,0,0,0), var(--bg-color-dark));
}

/* SKILLS */
.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--font-color-2);
    background-color: var(--bg-color-dark);
    padding-bottom: 16rem;
}
/* .skills .title, .skills .desc{
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--bg-clip-font-color);
    color: transparent;
    font-weight: 700;
} */
.skills .content{
    display: flex;
    flex-direction: column;
}
.skills .skills-timeline{
    width: 100%;
    height: min-content;
    transform-origin: top left;
}
.skills .skills-timeline path{
    stroke: var(--font-color-2);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 500ms;
}
.skills .skills-timeline circle{
    stroke: var(--bg-color-2);
    stroke-width: 0.2rem;
    transition: fill 500ms, transform 500ms, r 500ms;
}
.skills .skill-info{
    position: absolute;
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
}
@media only screen and (max-width: 1000px) {
    .skills{
        padding-bottom: 40vh;
    }
    .skills .skills-timeline{
        transform: scale(1.7) translateX(-20vw);
    }
}

/* FUTURE */
.future{
    display: flex;
    flex-direction: column;
    color: var(--font-color-2);
    background-color: var(--bg-color-dark);
}

/* CONTACT */
.contact{
    display: flex;
    flex-direction: column;
    color: var(--font-color-2);
    background-color: var(--bg-color-dark);
}